<%- include ('./partials/head.ejs') %>
<%- include ('./partials/headerStyles.ejs') %>

<style>

            .article-title {
                padding-top: 10px;
                font-size: 36px;
                font-weight: bold;
            }

            .author {
                color: black;
                font-size: 14px;
            }

            .author:hover {
                color: black;
            }

            img {
                width: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }

            .metadata-container {
                margin-bottom: 20px;
            }

            .date {
                font-family: "IBM Plex Serif", serif;
                font-weight: bold;
                font-size: 12px;
                padding-right: 0px;
                margin-right: 0px;
            }

            .tags {
                font-family: "IBM Plex Serif", serif;
                font-weight: bold;
                font-size: 12px;
            }

            .tag {
                color:gray;
            }

            .tag:hover {
                color: gray;
            }

            @media (max-width: 768px) {
                .feature-article-info {
                    padding-top: 20px;
                }
            }

            @media (min-width: 400px) {
                .mobile-img {
                    display: none !important;
                }
            }

            @media (max-width: 399px) {
                .desktop-img {
                    display: none !important;
                }
            }

            p {
                font-size: 16px;
            }

            .image-container {
                padding: 20px;
            }

            .body {
                padding: 30px;
            }
</style>

</head>

<body>

    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-7 mx-auto">
                <%- include ('./partials/header.ejs', {activePage: "Home"}) %>
                <div class="row">
                    <div class="col-12">
                        <h1 class="article-title"><%=title%></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2><%=subtitle%></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="author" href="<%=author_id%>"><%=author%></a>
                    </div>
                </div>
                <div class="row metadata-container">
                    <div class="col-4">
                        <div class="date"><%=date%></div>
                    </div>
                    <div class="col-8">
                        <div class="tags">
                            <% for(var tag of tags) { %>
                                <% if(tag) { %>
                                    <a class="tag" href="<%=tag.tagID%>"><%=tag.tagName%></a> 
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row image-container">
                    <div class="col-12 image-desktop-container desktop-img">
                        <img src="<%=image_desktop%>">
                    </div>
                    <div class="col-12 image-mobile-container mobile-img">
                        <img src="<%=image_mobile%>">
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="col-12 body">
                        <%- text %>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</body>

</html>
