<%- include ('./partials/head.ejs') %>
<%- include ('./partials/headerStyles.ejs') %>

<style>
    h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 12px;
}
    .featured-article-container {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            img {
                object-fit: cover;
                max-width: 100%
            }

            .article-title {
                color: black;
            }

            .article-title:hover {
                color: black;
            }

            .article-title-non-featured {
                padding-top: 10px;
            }

            .date {
                font-family: "IBM Plex Serif", serif;
                font-weight: bold;
                font-size: 12px;
                padding-right: 0px;
                margin-right: 0px;
            }

            .tags {
                font-family: "IBM Plex Serif", serif;
                font-weight: bold;
                color: gray;
                font-size: 12px;
            }

            .tag {
                color:gray;
            }

            .tag:hover {
                color: gray;
            }

            @media (max-width: 768px) {
                .feature-article-info {
                    padding-top: 20px;
                }
            }

            @media (min-width: 400px) {
                .mobile-img {
                    display: none !important;
                }
            }

            @media (max-width: 399px) {
                .desktop-img {
                    display: none !important;
                }
            }
</style>

</head>

<body>

    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-7 mx-auto">
                <%- include ('./partials/header.ejs', {activePage: activePage}) %>
                <div class="row featured-article-container">
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 col-xl-7 image-container">
                        <img class="desktop-img" src="<%=feature.image%>">
                        <img class="mobile-img" src="<%=feature.image_mobile%>">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 feature-article-info">
                        <a class="article-title" href="<%=feature.id%>"><h2><%=feature.title%></h2></a>
                        <h3><%=feature.subtitle%></h3>
                        <div class="row metadata">
                            <div class="col-4 date"><%=feature.date%></div>
                            <div class="col-8 tags">
                                <% for(var tag of feature.tags) { %>
                                    <% if(tag) { %>
                                        <a class="tag" href="<%=tag.tagID%>"><%=tag.tagName%></a> 
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Most recent articles</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img class="image" src="/media/placeholder.png">
                        <a href="/article"><h3 class="article-title article-title-non-featured">Article title</h3></a>
                        <h4>This is some subtext for this article.</h4>
                        <div class="row metadata">
                            <div class="col-4 date">August 01</div>
                            <div class="col-8 tags"><a class="tag" href="./politics">Politics</a>, <a class="tag" href="./environment">Environment</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img class="image" src="/media/placeholder.png">
                        <a href="/article"><h3 class="article-title article-title-non-featured">Article title</h3></a>
                        <h4>This is some subtext for this article.</h4>
                        <div class="row metadata">
                            <div class="col-4 date">August 01</div>
                            <div class="col-8 tags"><a class="tag" href="./politics">Politics</a>, <a class="tag" href="./environment">Environment</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img class="image" src="/media/placeholder.png">
                        <a href="/article"><h3 class="article-title article-title-non-featured">Article title</h3></a>
                        <h4>This is some subtext for this article.</h4>
                        <div class="row metadata">
                            <div class="col-4 date">August 01</div>
                            <div class="col-8 tags"><a class="tag" href="./politics">Politics</a>, <a class="tag" href="./environment">Environment</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</body>

</html>